<app-navbar></app-navbar>
<section class="min-h-[calc(100vh-110px)] flex flex-col items-center gap-23 px-4">
  <div class="flex flex-col items-center text-center">
    <img src="/logo.jpg"
         alt=""
         loading="lazy"
         class="w-100 h-auto max-w-[200px] sm:max-w-[300px] lg:w-100"
    >
    <h2 class="text-3xl sm:text-4xl lg:text-5xl text-[#c04000] font-medium mt-2 sm:mt-0">
      KKU Table Tennis CLUB
    </h2>
  </div>
  <div class="flex flex-col items-center gap-6 text-center px-2">
    <h1 class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-semibold leading-tight">
      ระบบรับสมัครและลงทะเบียน
    </h1>
    <h3 class="text-xl sm:text-3xl md:text-4xl lg:text-5xl font-normal leading-relaxed">
      การแข่งขัน KKU Table Tennis Championship ครั้งที่ 16
    </h3>
  </div>

  <a routerLink="/register" class="w-full max-w-sm sm:max-w-md lg:max-w-none lg:w-auto px-4 lg:px-0">
    <button class="w-full lg:w-auto px-6 py-4 lg:px-8 lg:py-4 bg-[#c04000] hover:bg-[#a03700] transition-colors text-white text-xl lg:text-2xl font-semibold rounded-xl">
      ลงทะเบียนตอนนี้ ➥
    </button>
  </a>
</section>

<footer class="px-4">
  <a routerLink="/login" class="flex justify-center lg:justify-end items-center m-4 lg:m-6 mt-12 lg:mt-20 gap-2">
    <img src="/setting.png" alt="" class="w-[24px] lg:w-[30px] h-auto opacity-60">
    <p class="font-light text-gray-600 text-lg lg:text-xl hover:text-black">
      Admin Login
    </p>
  </a>
</footer>
