<app-navbar></app-navbar>
<section class="w-full min-h-[calc(100vh-110px)] px-4 ">
  <div class="flex flex-col gap-6">
    <div class="my-6 flex justify-center">
      <h1 class="text-4xl md:text-6xl font-medium">ติดต่อสอบถาม</h1>
    </div>
    <div class="flex flex-col md:flex-row justify-center">
      <a href="https://www.facebook.com/profile.php?id=100063696812065" class="mb-6 md:mb-0">
        <img
          src="/page.png"
          alt="Contact Page"
          class="w-full mx-auto md:w-220 md:h-auto h-auto transition-transform duration-300 ease-in-out hover:-translate-y-1 hover:shadow-lg cursor-pointer"
        />
      </a>
      <div class="bg-gray-900 text-white py-10 px-6 space-y-10 text-center">
        <div class="space-y-2">
          <div class="flex justify-center">
            <div class="bg-gray-800 p-3 rounded-full">
              <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h4v11H3zM17 10h4v11h-4zM10 3h4v18h-4z" />
              </svg>
            </div>
          </div>
          <h3 class="font-bold text-lg">ข้อมูลชมรม:</h3>
          <p>ชมรม เทเบิลเทนนิส</p>
          <p>มหาวิทยาลัยขอนแก่น</p>
        </div>

        <div class="space-y-2">
          <div class="flex justify-center">
            <div class="bg-gray-800 p-3 rounded-full">
              <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.657 16.657L13.414 20.9a1.5 1.5 0 01-2.121 0l-4.243-4.243a8 8 0 1111.314 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
              </svg>
            </div>
          </div>
          <h3 class="font-bold text-lg">ที่อยู่:</h3>
          <p>อาคารพละอเนกประสงค์ ชั้น 2</p>
          <p>มหาวิทยาลัยขอนแก่น จังหวัดขอนแก่น 40002</p>
        </div>

        <div class="space-y-2">
          <div class="flex justify-center">
            <div class="bg-gray-800 p-3 rounded-full">
              <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 5a2 2 0 012-2h2.586a1 1 0 01.707.293l2.828 2.828a1 1 0 01.293.707V9a1 1 0 01-1 1H9a2 2 0 00-2 2v2a2 2 0 002 2h1a1 1 0 011 1v2.586a1 1 0 01-.293.707l-2.828 2.828a1 1 0 01-.707.293H5a2 2 0 01-2-2V5z" />
              </svg>
            </div>
          </div>
          <h3 class="font-bold text-lg">โทรหาเรา:</h3>
          <p>สอบถามข้อมูลการแข่งขัน หรือติดต่อทีมงานของชมรม</p>
          <a href="tel:+66812345678" class="text-blue-400 hover:underline">+66 81 234 5678</a>
        </div>
      </div>
    </div>
  </div>
</section>
